<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sustenance</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <link rel="shortcut icon" type="image/png" href="static/favicon.ico"/>
  </head>
  <body>
    <header>
      <h1>Sustenance</h1>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Recipes</a></li>
          <li><a href="#">Ingredients</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Random Recipe</h2>
      <p>Here's a random recipe for you to try:</p>
      <div class="recipe">
        <h3>Chicken Alfredo</h3>
        <ul>
          <li>1 lb. fettuccine pasta</li>
          <li>4 boneless, skinless chicken breasts</li>
          <li>1/4 cup unsalted butter</li>
          <li>1 pint heavy cream</li>
          <li>1 cup grated Parmesan cheese</li>
          <li>Salt and pepper to taste</li>
        </ul>
      </div>
      <p>And here are the total ingredients:</p>
      <div class="ingredients">
        <ul>
          <li>1 lb. fettuccine pasta</li>
          <li>4 boneless, skinless chicken breasts</li>
          <li>1/4 cup unsalted butter</li>
          <li>1 pint heavy cream</li>
          <li>1 cup grated Parmesan cheese</li>
          <li>Salt and pepper to taste</li>
        </ul>
      </div>
    </main>
    <footer>
      <p>&copy; 2023 Sustenance. All rights reserved.</p>
    </footer>
  </body>
</html>
