<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sustenance</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <link rel="shortcut icon" type="image/png" href="static/favicon.ico"/>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div class="container">
          <p>&copy; 2023 Sustenance. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>