<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
</head>
<body>
	<H1>User Info</H1>

	<H1>Login</H1>
	<form method="POST" action="{{ url_for('login') }}">
		<label for="email">Email:</label>
		<input type="text" id="email" name="email"><br><br>

		<label for="password">Password:</label>
		<input type="password" id="password" name="password"><br><br>

		<input type="submit" value="Login">
	</form>
	<h1>Register</h1>
	<form method="POST" action="{{ url_for('register') }}">
		<label for="email">Email:</label>
		<input type="text" id="email" name="email"><br><br>

		<label for="password">Password:</label>
		<input type="password" id="password" name="password"><br><br>

		<input type="submit" value="Register">
	</form>
	<h1>Confirm User</h1>
	<form method="POST" action="{{ url_for('confirm') }}">
		<label for="email">Email:</label>
		<input type="text" id="email" name="email"><br><br>

		<label for="confirmation">Confirmation Code:</label>
		<input type="text" id="confirmation" name="confirmation"><br><br>

		<input type="submit" value="Confirm">
	</form>
	<h1>Resend Confirmation Code</h1>
	<form method="POST" action="{{ url_for('confirmation_code') }}">
		<label for="email">Email:</label>
		<input type="text" id="email" name="email"><br><br>

		<input type="submit" value="Resend Confirmation Code">
	</form>
</body>
</html>
